<% include ../header %>
	<div id="login_content">
		<div class="login_card">
			<h1 class="logo">SmileCMS 系统登录</h1>
			<form class="login_form" action="">
				<label for="name">用户名</label>
				<input type="text" name="name" id="name">
				<label for="pass">密码</label>
				<input type="password" name="pass" id="pass">
				<input type="submit" class="submit" value="登录">
			</form>
		</div>
	</div>
<% include ../footer_admin %>

<script type="text/javascript">
	
</script>

