<!-- 控制台模板 -->
<script id="dashboard-template" type="text/template">
	<div class="page_head">
		<h2>Dashboard</h2>
	</div>
	<div id="dash_sys_state">
		<div class="all_state">
			<div class="state_con">
				<div>
					<h2><i class="fa fa-book"></i>文章统计</h2>
					<ul class="now_state">
						<li>
							<span>文章总数</span>
							<span class="count">200</span>
						</li>
						<li>
							<span>热门文章</span>
							<span class="count">50</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="state_con">
				<div>
					<h2><i class="fa fa-file-text"></i>分类统计</h2>
					<ul class="now_state">
						<li>
							<span>分类总数</span>
							<span class="count">200</span>
						</li>
						<li>
							<span>热门分类</span>
							<span class="count">50</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="state_con">
				<div>
					<h2><i class="fa fa-users"></i>用户统计</h2>
					<ul class="now_state">
						<li>
							<span>用户总数</span>
							<span class="count">200</span>
						</li>
						<li>
							<span>活跃用户</span>
							<span class="count">50</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="state_con">
				<div>
					<h2><i class="fa fa-tasks"></i>任务统计</h2>
					<ul class="now_state">
						<li>
							<span>任务总数</span>
							<span class="count">200</span>
						</li>
						<li>
							<span>已完成</span>
							<span class="count">50</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="system_setting">
			<div id="todo_con">
				<h2><i class="fa fa-tasks"></i>TodoList</h2>
					<div class="content">
						<div id="create-todo">
							<input id="new-todo" placeholder="接下来需要做些什么呢?" type="text" />
							<span class="ui-tooltip-top" style="display:none;">要做这个吗？按下回车就可以保存这个任务啦~</span>
							<div class="todo_all">
								<input class="check mark-all-done" name="check-all" type="checkbox"/>
								<label for="check-all">标记全部</label>
							</div>
						</div>
						<div class="content_con">
							<div id="todos">
								<ul id="todo-list"></ul>
							</div>
						</div>
					</div>
				<div id="todo-stats"></div>
			</div>
		</div>
	</div>
</script>

<!-- 任务管理模板 -->
<!-- Templates -->
<script type="text/template" id="item-template">
	<div class="todo{{if done}} done{{/if}}">
		<div class="display">
			<input id="${id}" class="check" type="checkbox" {{if done}} checked="checked"{{/if}}/>
			<label for="${id}" class="todo-content">${content}</label>
			<span class="todo-destroy fa fa-times-circle"></span>
		</div>
		<div class="edit">
			<input class="todo-input" type="text" value="${content}" />
		</div>
	</div>
</script>

<script type="text/template" id="stats-template">
	{{if total}}
		<span class="todo-count">
			<span class="number">${remaining}</span>
			<span class="word">条任务</span> 未完成.
		</span>
	{{/if}}
	{{if done}}
		<span class="todo-clear">
			<a href="#">
				清除 <span class="number-done">${done}</span>
				条已完成的 <span class="word-done">任务</span>
			</a>
		</span>
	{{/if}}
</script>

<!-- 知识管理模板 -->
<script id="knowledge-template" type="text/template">
	<div class="page_head">
		<h2>文章管理</h2>
		<ul class="admin_operate">
			<li><a class="knowledge_add"><i class="fa fa-plus"></i>新增</a></li>
		</ul>
	</div>
	<div id="knowledge_view">
		<ul class="knowledge_list"></ul>
	</div>
</script>

<script id="knowledge-item-template" type="text/template">
	<div class="knowledge">
		<div class="knowledge_display">
			<div class="knowledge_header">
				<h2>${title}</h2>
				<p class="knowledge_state">
					${friendly_create_at}
					<span>
						<i>${category.title}</i>
						${visit_count}<i class="fa fa-eye"></i>
					</span>
				</p>
			</div>
			<div class="content">
				${content}
			</div>
			<ul class="admin_operate">
				<li><a class="knowledge_edit"><i class="fa fa-pencil"></i>编辑</a></li>
				<li><a class="knowledge_delete"><i class="fa fa-minus"></i>删除</a></li>
			</ul>
		</div>
	</div>
</script>

<script id="category-list-template" type="text/template">
	<select id="${type}_category_select">
		{{each(i,cat) cats}}
			<option value="${cat._id}">${cat.title}</option>
		{{/each}}
	</select>
</script>

<!-- 用户管理模板 -->
<script id="user-template" type="text/template">
	<div class="page_head">
		<h2>用户管理</h2>
		<ul class="admin_operate">
			<li><a class="user_add"><i class="fa fa-plus"></i>新增</a></li>
		</ul>
	</div>
	<div id="user_view">
		<ul class="user_list"></ul>
	</div>
</script>

<script id="user-item-template" type="text/template">
	<div class="user">
		<div class="user_display">
			<h2>${username}</h2>
			<ul class="admin_operate">
				<li><a class="user_edit"><i class="fa fa-pencil"></i>编辑</a></li>
				{{if !is_star}}<li><a class="user_delete"><i class="fa fa-minus"></i>删除</a></li>{{/if}}
			</ul>
		</div>
	</div>
</script>


<!-- 任务管理模板 -->
<script id="work-template" type="text/template">
	<div class="page_head">
		<h2>评论管理</h2>
	</div>
	<div id="work_view">
		<ul class="work_list"></ul>
	</div>
</script>

<!-- 分类管理模板 -->
<script id="category-template" type="text/template">
	<div class="page_head">
		<h2>分类管理</h2>
		<ul class="admin_operate">
			<li><a class="category_add"><i class="fa fa-plus"></i>新增</a></li>
		</ul>
	</div>
	<div id="category_view">
		<ul class="category_list"></ul>
	</div>
</script>

<script id="category-item-template" type="text/template">
	<div class="category">
		<div class="category_display">
			<h2>${title}</h2>
			<ul class="category_state">
				<li>订阅总数：${sub_count}</li>
				<li>知识总数：${knowledge_count}</li>
			</ul>
			<ul class="admin_operate">
				<li><a class="category_toggle"><i class="fa fa-folder"></i><span>展开</span></a></li>
				<li><a class="category_edit"><i class="fa fa-pencil"></i>编辑</a></li>
				<li><a class="category_delete"><i class="fa fa-minus"></i>删除</a></li>
			</ul>
		</div>
		<div class="category_desc">
			<p>${description}</p>
		</div>
	</div>
</script>

<script id="noCat-template" type="text/template">
	<div class="no_data">
		<i class="fa fa-frown-o"></i>
		<p>暂时还没有分类信息！点击右上角 新增 按钮即可添加！</p>
	</div>
</script>

<!-- 弹窗模板 -->
<script id="dialog-template" type="text/template">
    <div class="dialog add_category">
    	<div class="dialog_header">
    		<a class="close" href="javascript:"><i class="fa fa-times-circle"></i></a>
    		<h2>新增分类</h2>
    	</div>
    	<div class="dialog_body">
           <form name='add_category'>
           	<div class="error">&nbsp;</div>
   	        <ul>
   	            <li><label>分类标题:</label><input class="require" id="category_title" name='title' type="text"/></li>
   	            <li><label>分类描述:</label><textarea id="category_desc" rows="3" cols="20" name="description"></textarea></li>
   	        </ul>
           	<p><a class="submit" id='btn_add_category'>确认添加</a></p>
          	</form>
    	</div>
    </div>
    <div class="dialog edit_category">
    	<div class="dialog_header">
    		<a class="close" href="javascript:"><i class="fa fa-times-circle"></i></a>
    		<h2>编辑分类</h2>
    	</div>
    	<div class="dialog_body">
           <form name='edit_category'>
           	<div class="error">&nbsp;</div>
   	        <ul>
   	            <li><label>分类标题:</label><input class="require" id="edit_category_title" name='title' type="text"/></li>
   	            <li><label>分类描述:</label><textarea id="edit_category_desc" rows="3" cols="20" name="description"></textarea></li>
   	        </ul>
           	<p><a class="submit" id='btn_edit_category'>确认修改</a></p>
          	</form>
    	</div>
    </div>
    <div class="dialog add_user">
     	<div class="dialog_header">
     		<a class="close" href="javascript:"><i class="fa fa-times-circle"></i></a>
     		<h2>添加用户</h2>
     	</div>
     	<div class="dialog_body">
            <form name='add_user'>
            	<div class="error">&nbsp;</div>
    	        <ul>
    	            <li><label>登录名:</label><input class="require" id="username" type="text"/></li>
    	            <li><label>密码:</label><input class="require" type="password" id="user_pass"></li>
    	            <li><label>密码确认:</label><input class="require" type="password" id="user_pass_comfirm"></li>
    	            <li><label>邮箱:</label><input class="require" type="email" id="user_email"></li>
    	            <li><label>昵称:</label><input class="require" id="user_nick" type="text"/></li>
    	            <li><label>签名:</label><input class="require" id="user_sign" type="text"/></li>
    	        </ul>
            	<p><a class="submit" id='btn_add_user'>确认添加</a></p>
           	</form>
     	</div>
    </div>
    <div class="dialog edit_user">
     	<div class="dialog_header">
     		<a class="close" href="javascript:"><i class="fa fa-times-circle"></i></a>
     		<h2>编辑用户</h2>
     	</div>
     	<div class="dialog_body">
            <form name='edit_user'>
            	<div class="error">&nbsp;</div>
    	        <ul>
    	            <li><label>登录名:</label><input class="require" id="edit_username" type="text"/></li>
    	            <li><label>邮箱:</label><input class="require" type="email" id="edit_user_email"></li>
    	            <li><label>昵称:</label><input class="require" id="edit_user_nick" type="text"/></li>
    	            <li><label>签名:</label><input class="require" id="edit_user_sign" type="text"/></li>
    	        </ul>
            	<p><a class="submit" id='btn_edit_user'>确认修改</a></p>
           	</form>
     	</div>
    </div>

    <div class="dialog add_knowledge"> 
	 	<div class="dialog_header">
	 		<a class="close" href="javascript:"><i class="fa fa-times-circle"></i></a>
	 		<h2>添加文章</h2>
	 	</div>
	 	<div class="dialog_body">
	        <form name='add_knowledge'>
	        	<div class="error">&nbsp;</div>
		        <ul>
		            <li class="title"><label>文章标题:</label><input class="require" id="knowledge_title" placeholder="吉他就要这样弹" type="text"/></li>
		            <li class="category"><label>文章分类:</label>
		            </li>
		          	<li><label>文章正文:</label><textarea placeholder="吉他要怎么弹呢？" id="knowledge_content" rows="3" cols="20"></textarea></li>
		        </ul>
	        	<p>
	        		<a class="submit" id='btn_add_knowledge'>确认添加</a>
	        		<a class="submit_pub" id='btn_publish_knowledge'>立即发布</a>
	        	</p>
	       	</form>
	 	</div>	
    </div>
    <div class="dialog edit_knowledge"> 
	 	<div class="dialog_header">
	 		<a class="close" href="javascript:"><i class="fa fa-times-circle"></i></a>
	 		<h2>修改文章</h2>
	 	</div>
	 	<div class="dialog_body">
	        <form name='edit_knowledge'>
	        	<div class="error">&nbsp;</div>
		        <ul>
		            <li class="title"><label>文章标题:</label><input class="require" id="edit_knowledge_title" type="text"/></li>
		            <li class="category"><label>文章分类:</label>
		            </li>
		          	<li><label>文章正文:</label><textarea placeholder="吉他要怎么弹呢？" id="edit_knowledge_content" rows="3" cols="20"></textarea></li>
		        </ul>
	        	<p>
	        		<a class="submit" id='btn_edit_knowledge'>确认修改</a>
	        		<a class="submit_pub" id='btn_publish_knowledge'>立即发布</a>
	        	</p>
	       	</form>
	 	</div>	
    </div>
    <div class="dialog action-tips">
    </div>
    <div class="dialog upload">
    </div>
    <div class="dialog_bg"></div>
</script>

<script id="dialog-tips-template" type="text/template">
	<div class="dialog_header">
		{{if canclose}}
		<a class="close" href="javascript:"><i class="fa fa-times-circle"></i></a>
		{{/if}}
		<h2>${title}</h2>
	</div>
	<div class="dialog_body">
		<p>${msg}</p>
		<p class="${action}"><a class="close btn-close-tips" href="#">${actionTips}</a></p>
	</div>
	
</script>