  	
  <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/libs/json2.js"></script>
  <script type="text/javascript" src="/libs/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/libs/setting.js"></script>
  <script type="text/javascript" src="/libs/jquery-ui-timepicker-addon.js"></script>
  <script type="text/javascript" src="/libs/jquery.tmpl.js"></script>
  <script type="text/javascript" src="/libs/underscore.js"></script>
  <script type="text/javascript" src="/libs/state-machine.js"></script>
  <script type="text/javascript" src="/libs/backbone.js"></script>
  <script type="text/javascript" src="/libs/jquery.placeholder.js"></script>
  <script type="text/javascript" src="/libs/base.js"></script>
  <script type="text/javascript" src="/mods/admin/index.js"></script>
  </body>
</html>