<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <meta name='description' content='<%= description %>'>
    <meta name="keywords" content="<%= keywords %>"/>
    <link rel='stylesheet' href='/libs/bootstrap/css/bootstrap.min.css' />
    <link rel="stylesheet/less" href='/mods/admin/index.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui.min.css">
    <script type="text/javascript" src="/libs/less-1.3.0.min.js"></script>
    <script type="text/javascript" src="/libs/jquery-2.1.0.js"></script>
  </head>
  <body>
    <div id="dialog-ph"></div>
    <div id="admin_header">
      <h1><%= title %></h1>
      <div id="admin_search">
        <input type="text" id="admin_search" placeholder="搜索"><i class="admin_search fa fa-search"></i>
      </div>
      <div id="admin_action">
        <a class="admin_out"><i class="fa fa-power-off"></i></a>
      </div>
    </div>
    <ul id="admin_leftNav">
      <li><a class="nav_active" data-nav="index"><i class="fa fa-tachometer"></i>控制台<i class="point"></i></a></li>
      <li><a data-nav="knowleage">
        <i class="fa fa-book"></i>知识管理<i class="point"></i>
        </a></li>
      <li><a data-nav="category">
        <i class="fa fa-file-text"></i>分类管理<i class="point"></i>
        </a></li>
      <li><a data-nav="user"><i class="fa fa-users"></i>用户管理<i class="point"></i></a></li>
      <li><a data-nav="work"><i class="fa fa-tasks"></i>任务管理<i class="point"></i></a></li>
      <li><a data-nav="system"><i class="fa fa-cog"></i>系统设置<i class="point"></i></a></li>
      <div id="admin_plan_mini">
        <h2>您的计划：<i class="close_mini_plan fa fa-times"></i></h2>
        <p>添加一个新页面</p>
        <p>发布两篇新文章</p>
        <a class="admin_view_more">
          查看更多
        </a>
      </div>

      <div id="admin_footer">
        <p>Copyright &copy; 2015,Design by Smileyang</p>
      </div>
    </ul>

    <div id="admin_right">
    </div>

