<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <meta name='description' content='<%= description %>'>
    <meta name="keywords" content="<%= keywords %>"/>
	<link rel='stylesheet' href='/libs/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
  </head>
  <body>
  <div id="header">
    
  </div>
  <div id="leftNav"></div>
  		